*
!/.gitignore
!/APPEND_SYSTEM.md
!/mcp.json
!/agents/
!/agents/**/
!/agents/**/*.md
!/agents/**/*.yaml
!/agents/**/*.yml
!/extensions/
!/extensions/**/
!/extensions/**/*.json
!/extensions/**/*.js
!/extensions/**/*.ts
!/skills/
!/skills/**/
!/skills/**/SKILL.md
!/skills/**/*.md
!/skills/**/*.yaml
!/skills/**/*.yml
!/prompts/
!/prompts/**/
!/prompts/**/*.md
!/themes/
!/themes/**/
!/themes/**/*.json
